.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
}

.activities-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
}

/* for tablet screen */
@media screen and (min-width: 767px) and (max-width: 1023px){
    .main-container{
        grid-template-columns: 1fr;
    }
} 
/* for mobile screen */
@media screen and (max-width: 766px) {
    .main-container{
        grid-template-columns: 1fr;
    }
} 

/* activities-conatainer media */
@media screen and (min-width: 767px) and (max-width: 1023px){
    .activities-container{
        grid-template-columns: repeat(2, 1fr);
    }
} 
/* for mobile screen */
@media screen and (max-width: 766px) {
    .activities-container{
        grid-template-columns: 1fr;
    }
} 