.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
}

.activities-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
}
/* .profile-container{
    height: 20rem;
    background-color: blueviolet;
} */

/* for tablet screen */
@media screen and (min-width: 767px) and (max-width: 1023px){
    .main-container{
        grid-template-columns: 1fr;
    }
} 
/* for mobile screen */
@media screen and (max-width: 766px) {
    .main-container{
        grid-template-columns: 1fr;
    }
} 